body {
    padding: 22px 5px;
    width: auto;
    height: auto;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.5px;    
}

main {
    background-color:#EDEDED;
    font-size: 16px;
    font-family: -apple-system, sans-serif;
    color: #363636;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: center;
}

header {
    margin-top: 1.30rem;
    text-align: center;
}

h1 {
    font-weight: 650px;
    font-size: 40px;
}

#one {
    border: none;
    padding: 5px 60px;
    background-size: cover;
    background-color: #FFFFFF; 
    margin: 0.2rem;
    align-items: center;
}



#image {
    margin-top: -1.35rem;
    max-width:100%;
    height: 100%;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    display: block;
    height: auto;
}

#img-caption {
    margin: 1rem auto;
}

.bold {
    font-weight: bold;    
}

#tribute-info p {
    font-weight: bold;
    font-size: 1.125rem;
}

#tribute-link {
    color: #007399;
}

footer p {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.125rem;
    text-align: left;
}

#tribute-link:visited {
    color:  #666699;
}

#tribute-info {
    width: 60%;
    margin: 0 auto;  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul > li {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.tribute-reco {
    width: 62%;
    font-style: italic;
 }

 .tribute-reco p {
    padding-left: 3rem;
 }

